<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Mot de passe oublié</title>
    <link rel="stylesheet" href="../assets/css/signup.css">
    <script src="../assets/js/user.js"></script>
</head>

<body>
    <div class="box">
        <div class="form-box">

            <!-- CORRECTION : action + guillemets -->
            <form action="resetPassword.php" method="POST">

                <label for="email">Votre email :</label>
                <input type="email" id="email" name="email" placeholder="Entrez votre email" >

                <label for="motdepasse">Nouveau mot de passe :</label>
                <input type="password" id="motdepasse" name="motdepasse" placeholder="Nouveau mot de passe">

                <label for="cmotdepasse">Confirmer le mot de passe :</label>
                <input type="password" id="cmotdepasse" name="cmotdepasse" placeholder="Confirmer" >

                <button type="submit">Confirmer</button>
            </form>

        </div>
        <div class="side-box"></div>
    </div>
</body>

</html>
